.container-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:5%;
    flex-direction: column;
}
.bg-color{
    background-color: rgb(228 226 219);
}
.details-information, .information{
    text-align: center;
}
h2{
    text-align: center;
    font-size: 2rem;
    padding:2%
}
.flag-img{
    padding:1%;
    width: 70%;
    margin: 5% 0;
}
.country-flag{
    padding:1%;
    width: 100%;
    margin: 5% 0;
}
.align-center{
    text-align: center;
}
.information{
    font-size: 1.3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.information p{
    margin: 2% 0;
    width: 100%;
    padding: 10px 20px;
    align-items: center;
}


@media (min-width: 756px) {
    .details-information{
        display: flex;
    }
}