.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.search-icon{
    font-size: 2.5rem !important;
}
.search-btn{
    margin: auto;
    padding: 2%;
    font-weight: 600;
    border: none;
    border-radius: 10px;
}
.input-and-btn{
    display: block;
}
.search-txt{
    text-align: center;
    color: orange;
    padding: auto;
    text-decoration: none;
    align-items: center;
}
.container-search{
    /* background-color: brown; */
    padding: 30px;
    text-align: center;
    width: 90%;
    align-items: center;
    justify-content: center;
}
label, input, .btn-search{
    margin: 10px;
    font-size: 1.3rem;
}
.img-world{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg{
    height: 100vh;
    width: 100%;
    background-color: rgb(228 226 219);
}
.card img{
    width: 50%
}
.img-world img{
    max-width: 50%;
}

.btn-back{
    background-color: rgba(84, 49, 100, 0.568);
    margin: 20px 0;
    padding: 1% 2% ;
}

@media (min-width:756px) {
    .container-search{
        display: flex;
    }
    .input-and-btn{
        display: flex;
        justify-self: content;
    }
}